<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class ="page-header" style="text-align:center">
      <img style="height: 100px; weidth:150px;" src="{{ url_for('static', filename='150dpi.png') }}" alt="IIIT Bhagalpur"/>
      <h1 style="color :teal">Indian Institute of Information Technology</h1>
      <h2><b>Employee Leave System</b></h2>
    </div>
    {% block body %}
    {% endblock %}
    <br><br><center>
    <footer class="footer">
      <div class="footer-content">
        All rights reserved<br>
        Property Of <a href="{{url_for('developer_info')}}">Team-ELMS</a> CSE IIITBH
      </div>
    </footer></center>
    <script>
    function passwordcheck(){
    var x = document.getElementById("v_password");
    if(x.type === "password"){
      x.type = "name";
    }
    else{
      x.type = "password";
    }
  }
  </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
